// colors

$color-index-bg: rgb(255, 255, 185);
$color-home-bg: rgb(255, 236, 247);
$color-about-bg: rgb(207, 242, 252);
$color-contact_1-bg: rgb(224, 255, 213);

$color-neutral-21: #212121;
$color-neutral-5c: #5c5c5c;
$color-neutral-f8: #f8f8f8;
$color-neutral-ff: #ffffff;
$color-primary-ff6: #ff6635; //
$color-primary-dd4: #dd4e11; //

// $color-neutral-100: #fffdf6;
// $color-neutral-900: #1f3049;
// $color-primary-200: #ffcc00;
// $color-primary-300: #80ff00;
// $color-primary-400: #0091ff;
// $color-secondary-200: #4400ff;
// $color-secondary-300: #7300a0;
// $color-secondary-400: #ff0000;
// $color-accent-200: #ff94eb;
// $color-accent-300: #21186d;
// $color-accent-400: #ff569a;

// font-families
$ff-sans-serif: "Lato", Arial, Helvetica, sans-serif, "맑은 고딕";
$ff-serif: "Abril Fatface", serif;

// font-sizes
$fs-80: 5em; // 80px
$fs-60: 3.75em; // 60px
$fs-48: 3em; // 48px
$fs-36: 2.25em; // 36px
$fs-32: 2em; // 32px
$fs-24: 1.5em; // 24px
$fs-21: 1.3125em; // 21px
$fs-18: 1.125em; // 18px
$fs-16: 1em; // 16px

// font-weights
$fw-normal: 400;
$fw-bold: 700;
$fw-block: 900;

// size/spacing values (Including the border-width)
$size-8: 0.5rem;
$size-12: 0.75rem;
$size-16: 1rem;
$size-20: 1.25rem;
$size-24: 1.5rem;
$size-26: 1.625rem;
$size-32: 2rem;
$size-36: 2.25rem;
$size-40: 2.5rem;
$size-48: 3rem;
$size-160: 10rem;
$size-320: 20rem;

$size--400-9: 0.5rem;
$size--400-14: 0.75rem;
$size--400-16: 0.87rem;
$size--400-18: 1rem;
$size--400-20: 1.12rem;
$size--400-23: 1.25rem;
$size--400-32: 1.8rem;
$size--400-36: 2rem;
$size--400-40: 2.25rem;
$size--400-52: 2.9rem;
$size--400-58: 3.2rem;
$size--400-65: 3.6rem;

/*----------------------var-end----------------------*/
