@use "../base/variable" as *;

$colors: (
    neutral: (
        21: $color-neutral-21,
        5c: $color-neutral-5c,
        f8: $color-neutral-f8,
        ff: $color-neutral-ff,
    ),
    primary: (
        ff6: $color-primary-ff6,
        dd4: $color-primary-dd4,
    ),
);
