
//@mixin//

@mixin padding($pd: $size-20) {
    padding: $pd;
}
//@include padding();

@mixin Gradients-primary($deg: 0deg, $color-1: $color-primary-200, $color-2: $color-primary-300, $color-3: $color-primary-400) {
    background: linear-gradient($deg, $color-1, $color-2, $color-3);
}
//@include Gradients-primary($deg: null, $color-1: $color-primary-200, $color-2: $color-primary-300, $color-3: $color-primary-400);

@mixin underline($width, $height, $bg, $bg-a, $mg-top, $mg-inline) {
    content: "";
    display: block;
    width: $width;
    height: $height;
    background: rgb($bg, $bg-a);
    margin: $mg-top $mg-inline;
}
//@include underline(3rem, 2px,$color-neutral-900, 0.1, 5px, auto);

@mixin title($color: null, $text-tf: uppercase, $font-s: null, $font-w: $fw-700) {
    color: $color;
    text-transform: $text-tf;
    font-size: $font-s;
    font-weight: $font-w;
}
//@include title($color: $color-neutral-100, $text-tf: uppercase, $font-s: $fs-600, $font-w: $fw-700);

@mixin button($display: inline-block, $padd-bl: null, $padd-in: null, $bg: null, $color: null, $bord-w: null, $bord-color: null) {
    display: $display;
    padding: $padd-bl $padd-in;
    background: $bg;
    color: $color;
    border: $bord-w solid $bord-color;
    box-sizing: border-box;
    text-decoration: none;
}
//@include button($display: inline-block, $padd-bl: 0.5em, $padd-in: 1.5em, $bg: transparent, $color: $color-neutral-100, $bord-w: 3px, $bord-color: $color-neutral-100);

@mixin badge-1($max-width: 100%, $bord-w: 0.2em, $bord-c: #fff, $bord-r: 100%, $filter-ds: 0 0 0.3em, $filter-color: #fff, $bg: null) {
    display: block;
    object-fit: cover;
    aspect-ratio: 1;

    max-width: $max-width;
    border: $bord-w solid $bord-c;
    border-radius: $bord-r;
    filter: drop-shadow($filter-ds $filter-color);
    background: $bg;
}
//@include badge-1($max-width: 20%, $bord-w: .2em, $bord-c: $color-neutral-100, $bord-r: 100%, $filter-ds: 0 0 .3em, $filter-color: #fff, $bg: null);

@mixin badge-text($font-s: null, $font-w: $fw-700, $bg: null, $color: null, $padd-bl: null, $padd-in: null, $bord-w: null, $bord-c: null, $transition: null, $hov-bord-c: null, $hov-bg: null, $hov-c: null, $hov-transfrom: null) {
    font-size: $font-s;
    font-weight: $font-w;
    background: $bg;
    color: $color;
    padding: $padd-bl $padd-in;
    border: $bord-w solid $bord-c;
    transition: 0.3s;
    &:hover,
    &:focus-visible {
        border-color: $hov-bord-c;
        background: $hov-bg;
        color: $hov-c;
        transform: $hov-transfrom;
    }
}
//@include badge-text($font-s: null, $font-w: $fw-700, $bg: transparent, $color: $color-neutral-100, $padd-bl: 0.5em, $padd-in: 1.5em, $bord-w: 0.2em, $bord-c: $color-neutral-100, $transition: 0.3s, $hov-bord-c: $color-accent-200, $hov-bg: $color-accent-400, $hov-c: $color-neutral-900, $hov-transfrom: scale(1.05));

@mixin hover-transform($tl-x: 0, $tl-y: 0, $sc: 1, $tst-s: 0.5s, $hov-tl-x: 0, $hov-tl-y: 0, $hov-sc: 1.05) {
    transform: translate($tl-x, $tl-y) scale($sc);
    transition: all $tst-s ease-in-out;
    &:hover,
    &:focus-visible {
        transform: translate($hov-tl-x, $hov-tl-y) scale($hov-sc);
    }
}
//@include hover-transform($tl-x, $tl-y, $sc:1, $tst-s, $hov-tl-x, $hov-tl-y, $hov-sc);

/*---------------------mixin-end-----------------------*/