@use "../abstracts/" as *;
@use "../base/" as *;
@use "colors" as *;

.inverted {
    //background-color: $color-primary-normal;
    //color: $color-neutral-white;
    // @extend .bg-primary-normal;
    // @extend .clr-neutral-light;
    background: clr(primary, ff6);
    color: clr(neutral, 21);
}
.inverted_inverted {
    // @extend .bg-neutral-light;
    // @extend .clr-primary-normal;

    background: clr(neutral, 21);
    color: clr(primary, ff6);
}
