.top-link {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    a {
        padding: 0.5em 1.5em;
        text-decoration: none;
        color: #666;
        border-radius: 100vh;

        &:hover,
        &:focus-visible {
            background-color: #d3d3d32f;
        }
    }
}
