@use "../abstracts/" as *;
@use "../base/" as *;
@use "../utilities/" as *;
@use "../layout/" as *;
@use "../vendor/" as *;

.btn {
    $btn: &;
    //@extend .inverted !optional;
    //@extend .bg-primary-normal;
    //@extend .clr-neutral-light;

    cursor: pointer;
    //padding: $size-8 $size-24;
    border: 0.15em solid clr(neutral, ff);
    color: clr(neutral, ff);

    @extend .padding-block-8 !optional;
    @extend .padding-inline-24 !optional;
    @extend .fw-bold !optional;
    margin: 0 auto $size-24 auto;
    &:hover {
        // background: transparent;
        // @extend .clr-primary-normal !optional;
        @extend .inverted;
        border: 0.15em solid clr(primary, ff6);
        // scale: 1.1;
    }

    // .lists__tiny & {
    //     // @extend .inverted_inverted !optional;
    //     // @extend .clr-primary-normal;
    //     // @extend .bg-neutral-light;

    //     &:hover {
    //         // @extend .clr-neutral-light !optional;
    //         // border-color: $color-neutral-white;
    //         // background: $color-index-bg;
    //     }
    // }
}
